* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background: url('../Images/paper.svg') repeat-y;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover,
a:active {
  color: $text-hover-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section-page {
  text-align: center;
  margin: 0 10px;
}

h1 {
  font-size: 30px;
  font-family: $font-stack;
}

h2 {
  font-family: $font-stack;
}

.error {
  color: red;
  font-style: italic;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 5px;
  background-color: $bg-color;
  width: 500px;
  margin: 20px auto;
}

@media (max-width: 400px) {
	.sectionSpacer {
    width: 100%;
    height:75px;
  }
}

@media (min-width: 401px) {
	.sectionSpacer {
    width: 100%;
    height: 75px;
  }
}