$text-hover-color: #1a8fff;
$toolbar-hover-color: white;
$main-color: #1a8fff;
$text-color: #777;
$toolbar-text-color: black;
$text-color-light: #ccc;
$border-color: #bebebe;
$bg-color: #f9f9f9;
$neutral-color: #fff;
$button_bg_color: #CAE1F9;

$font-stack: 'Bubblegum Sans', cursive;