.Class__form {
  @extend %form-shared;
  @extend %buttons-shared;
}

.Class__form {
  border: 1px solid $border-color;
  border-radius: 5px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 900px;
  background-color: $bg-color;
}

.classes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.classes li {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 10px;
  padding: 20px 30px;
  max-width: 300px;
  background: $bg-color;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  color: $text-color;
}

.class-list__name {
  font-weight: 800;
  font-size: 1.3em;
}

.class-list_items {
  margin: 5px 0;
  text-align: left;
}

.class-list_items-header {
  font-weight: 700;
}

.classes a {
  color: $text-color;
}

.classes li:hover,
.classes li:focus {
  background-color: $button-hover-color;
}

.classes-button {
  margin: 0 auto;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  background-color: $button-bg-color;
  width: 150px;
}

.classes-button:hover {
  background-color: $button-hover-color;
  color: $text-hover-color;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition: 0.3s;
  border-radius: 5px;
}